<h1>{{ title }}</h1>

<wechaty
  #wechaty
  token="WECHATY_TOKEN"

  (heartbeat) = "onEvent('heartbeat' , $event)"
  (scan)      = "onEvent('scan'      , $event)"
  (login)     = "onEvent('login'     , $event)"
  (message)   = "onEvent('message'   , $event)"
  (logout)    = "onEvent('logout'    , $event)"
  (error)     = "onEvent('error'     , $event)"
>
  <h2>Wechaty Core Web Component</h2>

  <label for="token">Put Your WECHATY_TOKEN here:</label>
  <input
    type="text"
    [(ngModel)]="token"
    name="token"
    placeholder="WECHATY_TOKEN"
    [style.background-color] = "wechaty.online() ? 'green' : wechaty.connecting() ? 'yellow' : 'red'"
  >
  <button (click)="wechaty.token = token">Set Token</button>

  <div>
    Event Counter: {{ wechaty.counter }}
    <br />
    Last Update: {{ wechaty.timestamp | date: 'mediumTime' }}
  </div>

  <ol>
    <li
      *ngFor = "let eventName of eventNameList"
    >
      {{ lastEvents[eventName]?.timestamp | date: 'HH:mm:ss' }}
      :
      {{ eventName }}
      <blockquote>
        {{ lastEvents[eventName]?.data | json }}
      </blockquote>
    </li>
  </ol>

  <button (click)="wechaty.reset()">    Reset</button>
  <button (click)="wechaty.shutdown()"> Shutdown</button>
  <button (click)="wechaty.logoff()">   Logoff</button>

</wechaty>

<!-- pre>
  {{ lastEvents | json }}
  {{ eventNameList | json }}
</pre -->
